<div class="donate-container">
    <div class="donate-img-container" id="donate-img-container">
        <p> <%= config.donate.pre %> </p>
        <img id="donate-img" src="<%= config['root'] %><%= config.donate.img %>" alt="感谢赞助">
        <p> <%= config.donate.content %> </p>
    </div>
</div>