
<footer class="footer">
    <p>
        <span>/</span>
        
        <span><a href="https://blog.bonfy.im">BLOG</a></span>
        <span>/</span>
        
        <span><a href="https://bonfy.im">Main Page</a></span>
        <span>/</span>
        
        <span><a href="#">It helps SEO</a></span>
        <span>/</span>
        
    </p>
    <p>&copy; 2018 <a href="https://bonfy.im">BONFY</a> &middot; 

        Powered by the
        <a href="https://hexo.io/">Hexo</a> Theme 
        <a href="https://github.com/aircloud/hexo-theme-aircloud">AirCloud</a></p>
  </p>
</footer>


